In [2]:
import pandas as pd
import requests as req
import matplotlib.pyplot as plt
import numpy as np
import csv

In [13]:
# Import cities file as DataFrame
city_pd = pd.read_csv("../Resources/city_data.csv")
ride_pd = pd.read_csv("../Resources/ride_data.csv")
merge_data = pd.merge(ride_pd, city_pd, on="city")
merge_data.head(10)

       city                 date   fare        ride_id  driver_count   type
0  Sarabury  2016-01-16 13:49:27  38.35  5403689035038            46  Urban
1  Sarabury  2016-07-23 07:42:44  21.76  7546681945283            46  Urban
2  Sarabury  2016-04-02 04:32:25  38.03  4932495851866            46  Urban
3  Sarabury  2016-06-23 05:03:41  26.82  6711035373406            46  Urban
4  Sarabury  2016-09-30 12:48:34  30.30  6388737278232            46  Urban
5  Sarabury  2016-08-04 00:25:52  27.20  2429366407526            46  Urban
6  Sarabury  2016-07-25 10:44:01  17.73  4467299640441            46  Urban
7  Sarabury  2016-06-22 16:24:01  23.94  6153395712431            46  Urban
8  Sarabury  2016-01-27 17:46:45  16.39  8220809448298            46  Urban
9  Sarabury  2016-04-26 11:31:30  21.80  5969441875705            46  Urban

In [ ]:
#•	Average Fare ($) Per City
#•	Total Number of Rides Per City
#•	Total Number of Drivers Per City
#•	City Type (Urban, Suburban, Rural)

In [ ]:
#•	% of Total Fares by City Type
#•	% of Total Rides by City Type
#	% of Total Drivers by City Type

In [ ]:
o	You must stick to the Pyber color scheme (Gold, Light Sky Blue, and Light Coral) in producing your plot and pie charts.
o	When making your Bubble Plot, experiment with effects like alpha, edgecolor, and linewidths.
o	When making your Pie Chart, experiment with effects like shadow, startangle, and explosion.

In [ ]:
Plot Titles, Axes Labels, Legend Labels, Wedge Percentages, and Wedge Labels.

In [ ]:
plt.show()