Observable Trends:
1.
2.
3.

In [3]:
import pandas as pd
import csv

#Retrieve files
school_data = "schools_complete.csv"
student_data = "students_complete.csv"

#Read files
school_df = pd.read_csv(school_data, encoding="iso-8859-1", low_memory=False)
student_df = pd.read_csv(student_data, encoding="iso-8859-1", low_memory=False)

school_df.columns = ["School ID", "School Name", "type","size","budget"]
student_df.columns = ["Student ID", "Student Name", "gender","grade","School Name", "Reading Score", "Math Score"]

#Merge dfs 

compiled_data = pd.merge(school_df, student_df, on="School Name")

compiled_data.head()

,School ID,School Name,type,size,budget,Student ID,Student Name,gender,grade,Reading Score,Math Score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

District Summary

In [4]:
#Total Schools
total_schools = len(compiled_data["School Name"].unique())
print(total_schools)
#Total Students
total_students = compiled_data["Student ID"].count()
print(total_students)
#Total Budget
total_budget = sum(school_df["budget"])
print(total_budget)
#Average Math Score
avg_math = round(compiled_data["Math Score"].mean(),2)
print(avg_math)
#Average Reading Score
avg_reading = round(compiled_data["Reading Score"].mean(),2)
print(avg_reading)

15
39170
24649428
78.99
81.88

In [10]:
#students that pass
pass_math = student_df.loc[student_df["Math Score"] > 70,:] 
percentage_pass_math = len(pass_math) / len(compiled_data)                  
#percentage_pass_math

pass_read = student_df.loc(student_df["Reading Score"] > 70) 
#pass_read.head()

In [ ]:
student_data.columns

In [ ]:
school_summary = pd.DataFrame({"School Name": [school],
                                   "School Type": [type],
                                   "Total Students": [school_id],
                                   "Total School Budget": [budget],
                                   "Per School Budget": [budget],
                                   "Average Math Score":[average_math],
                                   "Average Reading Score":[average_reading],
                                   "% passing math": [pass_math],
                                   "% passing reading": [pass_reading]
})